@import 'variables';

.this {
  display: grid;
  grid-template-areas: "description languages";

  :global(.description) {
    grid-area: "description";
    padding: 1em;
    font-size: 85%;
    line-height: 1.6em;
  }

  :global(.languages) {
    grid-area: "languages";
    text-align: right;
    position: relative;
    display: inline-block;
    padding: 1em;

    span {
      cursor: pointer;
    }

    div {
      float: right;
      display: none;
      position: absolute;
      background-color: lighten($blue, 5%);
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      max-width: 80px;
      z-index: 1;
      margin-top: 1em;
      right: 0;

      p {
        padding: 1em 1em;
        margin: 0;
        border-top: 1px solid lighten($blue, 10%);
        cursor: pointer;
        color: $white;

        &:hover {
          background-color: lighten($blue, 10%);
        }
      }
    }

    &:global(.hover) {
      overflow: visible;

      div {
        display: block;
        z-index: 10;
      }
    }
  }

  @media all and (min-width: 800px) {
    & {
      :global(.languages) {
        div {
          p {
            padding: 0.5em 1em;
          }
        }
      }
    }
  }
}
