@import 'variables';

.this {
  display: grid;
  grid-column-gap: 0;
  grid-template-areas:
    "header"
    "code"
    "bar"
    "output";
  height: 100%;

  header {
    font-size: 0.8em;
    line-height: 0.8em;
    grid-area: header;
    padding: 1em;
    background-color: $light-blue;
    color: $dark-grey;
  }

  :global(.bar) {
    grid-area: bar;
    min-height: 1em;
    background-color: $dark-grey;

    span {
      display: inline-block;
      font-size: 0.8em;
      color: $white;
      padding: 0.6em 1em;
      border-right: 2px solid lighten($dark-grey, 10%);
      cursor: pointer;

      &:global(.active) {
        background-color: lighten($dark-grey, 10%);
      }
    }
  }

  :global(.code) {
    grid-area: code;
    overflow: auto;

    pre {
      margin: 0;
      padding: 1em !important;
      font-size: 1.1em;
    }

    :global(.hljs) {
      padding: 1em 0 1em 1.1em;
    }
  }

  :global(.output) {
    grid-area: output;
    overflow: auto;
    border-bottom: 0.5em solid $dark-grey;

    pre {
      margin-top: 0;
      margin-bottom: 0;
      padding: 1em !important;
    }
  }

  @media all and (min-width: 800px) {
    header {
      font-size: 1em;
      line-height: 1em;
      background-color: $blue;
      color: $pure-white;
    }
  }
}
