@import 'variables';

.this {
  border: 1px solid $dark-grey;
  display: flex;
  flex-flow: row wrap;

  :global(.exploration-demo-steps) {
    flex: 1 100%;
  }

  :global(.exploration-demo-blocks) {
    flex: 1 100%;
    padding: 1em;
  }

  @media all and (min-width: 800px) {
    :global(.exploration-demo-steps) {
      flex: 2 1;
    }

    :global(.exploration-demo-blocks) {
      flex: 3 1;
    }
  }
}
