@import 'variables';

.this {
  display: flex;
  flex-flow: row wrap;

  :global(.exploration-demo-steps) {
    flex: 1 100%;
  }

  :global(.exploration-demo-blocks) {
    flex: 1 100%;
  }

  @media all and (min-width: 800px) {
    :global(.exploration-demo-steps) {
      flex: 1 1;
    }

    :global(.exploration-demo-blocks) {
      flex: 3 1;
      border-left: 1px solid $white;
    }
  }
}
