@import 'variables';

.this {
  background-color: $white;
  display: flex;
  flex-direction: column;

  a {
    display: none;
    color: $blue;
    flex: 1 1;
    flex-direction: row;
    flex-wrap: nowrap;
    line-height: 2em;
    padding: 1em;
    text-decoration: none;
    border-bottom: 1px solid $grey;
    font-size: 0.95em;

    &:last-child {
      border-bottom: 0;
    }

    &:visited,
    &:hover {
      color: $blue;
    }

    &:hover {
      background-color: $pure-white;
    }

    :global(.rank) {
      margin-right: 1em;
      min-width: 2em;
      display: flex;
      flex-direction: column;
      justify-content: center;

      span {
        background-color: $blue;
        color: $pure-white;
        line-height: 2em;
        height: 2em;
        width: 2em;
        font-size: 1em;
        font-weight: bold;
        text-align: center;
        border-radius: 1em;
      }
    }

    :global(.chevron) {
      display: none;
      font-size: 1em;
      margin-left: 0.5em;
      text-align: right;
    }

    &:global(.active) {
      background-color: $blue;
      color: $white;

      &:visited {
        color: $white;
      }

      :global(.rank) {
        span {
          background-color: $white;
          color: $blue;
        }
      }
    }

    &:global(.dropdown.active) {
      display: flex;

      :global(.chevron) {
        display: block;
        flex: 1 auto;
      }
    }

    &:global(.list.selected) {
      display: flex;
    }

    &:global(.dropdown.selected) {
      display: none;
    }
  }

  @media all and (min-width: 800px) {
    & {
      flex: 1 1;
      flex-direction: column;
      border-right: 0.5em solid $pure-white;
    }

    a {
      &:global(.list) {
        display: flex;
      }

      &:global(.dropdown),
      &:global(.dropdown.active) {
        display: none;
      }

      :global(.title) {
        line-height: 1.3em;
      }
    }
  }
}
