@import 'variables';

.this {
  background-color: $grey;
  display: flex;
  flex-direction: column;

  a {
    display: none;
    color: $blue;
    flex: 1 1;
    flex-direction: row;
    flex-wrap: nowrap;
    line-height: 2em;
    padding: 1em;
    text-decoration: none;

    &:visited,
    &:hover {
      color: $blue;
    }

    &:global(.active) {
      background-color: $blue;
      color: $white;

      &:visited {
        color: $white;
      }
    }

    :global(.rank) {
      background-color: $white;
      border-radius: 50%;
      color: $blue;
      font-size: 1em;
      height: 2em;
      line-height: 2em;
      margin-right: 1em;
      text-align: center;
      width: 2em;
    }

    :global(.chevron) {
      display: none;
      font-size: 1em;
      margin-left: 0.5em;
      text-align: right;
    }

    &:global(.dropdown.active) {
      display: flex;

      :global(.chevron) {
        display: block;
        flex: 1 auto;
      }
    }

    &:global(.list.selected) {
      display: flex;
    }

    &:global(.dropdown.selected) {
      display: none;
    }
  }

  @media all and (min-width: 800px) {
    & {
      flex: 1 1;
      flex-direction: column;
    }

    a {
      &:global(.list) {
        display: flex;
      }

      &:global(.dropdown),
      &:global(.dropdown.active) {
        display: none;
      }
    }
  }
}
